DB_HOST=host
DB_USER=user
DB_PASSWORD=pwd
DB_NAME=name
DB_PORT=port

REDIS_HOST=host
REDIS_PORT=port
REDIS_PASSWORD=pwd

APPLICATION_ADMIN_TELEGRAM_IDS=1,2,3,4,5
TELEGRAM_BOT_TOKEN=token

RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=pwd
RABBIT_USER=user
RABBIT_PASSWORD=pwd
RABBIT_PORT=port
RABBIT_WEB_PORT=wport
RABBIT_HOST=rabbitmq

JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=min
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=min
